<h1>Latest News</h1>

{{ range first 5 (where .Site.RegularPages "Section" "posts")}}
{{ if not (index .Params.settings "newsHidden") }}
<article class="markdown book-post">
<div style="display:flex;">
<div style="flex: 0 0 20%;">{{ partial "docs/post-meta" . }}</div>
<div style="flex: 1;">
    <b>{{- .Params.title | markdownify -}}</b><br>
    {{- .Params.post.description | markdownify -}}
    {{- .Params.post.summary | markdownify -}}
    {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">...</a>
    {{ end }}
</div>
</div>
</article>

{{ end }}
{{ end }}

<div style="display:flex;">
<div style="flex: 0 0 20%;"></div>
<div style="flex: 1;">
<a href="{{ .Site.BaseURL }}categories/news">more news ...</a>
</div>
</div>